.calculatorFrame {
    width: 502px;
    height: 663px;
    left: 1029px;
    top: 388px;
    background: #171219;
  }

.calculatorDisplay {
    width: 501px;
    height: 184px;
    left: 1px;
    top: -2px;
    background-color: #544D4D;
  }
  
  .calculatorButtons {
    width: 501px;
    height: 481px;
    left: 1px;
    top: 182px;
    background-color: #171219;;
  }

button {
    position: relative;
    width: 82px;
    height: 76px;
    border-radius: 50%;
    background-color:#867367;
}

.Operator {
    background-color:#F0803C;
}

.Zero {
  position: relative;
  width: 213px;
  height: 76px;
  background-color: #867367;
}

.Clear {
  position: relative;
  width: 310px;
  height: 76px;
  background-color:  #E15656;
}