.calculatorFrame {
    width: 500px;
    height: 650px;
    background: #171219;
  }

.calculatorDisplay {
    width: 500px;
    height: 150px;
    background-color: #544D4D;
  }
  
#display {
  text-align: right;
  font-family: Share Tech Mono, monospace;
  font-size: 60px;
}
  
.calculatorButtons {
  width: 500px;
  height: 500px;
  left: 1px;
  top: 182px;
  background-color: #171219;;
}

button {
    position: relative;
    width: 125px;
    height: 100px;
    color: #FFFFFF;
    font-size: 40px;
    font-family: Share Tech Mono, monospace;
    border: 1px solid black;
    background-color:#2C2825;
}

button:hover {
  color:black;
  border: 1px solid white;
}

.Operator {
    background-color:#F0803C;
}

.Zero {
  position: relative;
  width: 250px;
  height: 100px;
  background-color: #2C2825;
}

.Clear {
  position: relative;
  width: 375px;
  height: 100px;
  background-color:  #E15656;
}